.card {
  background: white;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card img {
  height: 170px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.card h4 {
  font-size: 18px;
  font-weight: 600;
}

.card p {
  flex-grow: 1;
  font-size: 14px;
  margin-bottom: 10px;
}

.card button {
  background: #166534;
  color: white;
  padding: 8px;
  border-radius: 8px;
  transition: background 0.3s;
}

.card button:hover {
  background: #14532d;
}
